<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="filename">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{hh:mm:ss} [%t] %-5level %logger{36} - %msg%n " />
		</Console>
		<RollingFile 
			name="file" 
			fileName="${filename}/logdemo.log"
			filePattern="${filename}/logdemo-%d{hh-mm-ss-SSS}.log">
			<PatternLayout>
				<pattern>%d{hh:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1 MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.saucelab.page" level="info" additivity="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="file" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>